.sidebar-menu {
  padding-top: 1rem;

  a {
    margin: 0.25rem 0.5rem;
    border-radius: 8px;
    
    &.active {
      background-color: #e3f2fd;
      color: #1976d2;
      
      mat-icon {
        color: #1976d2;
      }
    }
    
    &:hover:not(.active) {
      background-color: #f5f5f5;
    }
  }

  h3 {
    padding-left: 1rem;
    font-weight: 500;
    color: #666;
  }
}