<div class="admin-layout">
  <mat-toolbar color="primary" class="admin-header">
    <button mat-icon-button (click)="toggleSidebar()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="spacer"></span>
    <span>Admin Panel</span>
    <span class="spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="userMenu">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item disabled>
        <mat-icon>person</mat-icon>
        <span>{{ (currentUser$ | async)?.email }}</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="onLogout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </mat-toolbar>

  <mat-sidenav-container class="admin-container">
    <mat-sidenav 
      #sidenav 
      mode="side" 
      [opened]="sidebarOpened"
      class="admin-sidenav">
      <app-sidebar></app-sidebar>
    </mat-sidenav>

    <mat-sidenav-content class="admin-content">
      <div class="content-wrapper">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>